<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi <%= name%></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit officia sapiente nulla labore repudiandae at possimus in. Velit reprehenderit, expedita sunt consectetur laudantium quo molestias omnis debitis itaque minima in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione odio sequi ex, natus veniam consequuntur quasi velit modi eius voluptatum voluptate recusandae dolores labore consectetur a ducimus quae? Harum, fugiat.
    Impedit, consectetur? Saepe temporibus labore sunt dolore, aliquid corrupti dignissimos rem quis at. Atque repellendus et sit eius fugit tempore, reiciendis rerum, sunt, accusamus earum laborum repellat corporis facilis architecto.</p>
    
</body>
</html>